<a href="https://colab.research.google.com/github/sajsoundar/Ajsoundar/blob/main/jhon2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NEAGTIVE INDEXING IN RANGE

In [7]:
n=5
for i in  range(n,0,-1):
  print(i)

5
4
3
2
1

LEN gives the length of that

    1 2 3 4 5 6
+ve 0 1 1.....len(a)-1
-ve -6 -5 -4 -3 -2 -1

PRINT NEGATIVE NUMBERS USING RANGE AND FOR

In [9]:
for i in range(-5,0,1):
  print(i)

-5
-4
-3
-2
-1

STEP SIZE

In [ ]:
(start,end,stepsize)

(0,11,2)
0 2 4 6 8 10

In [10]:
for i in range(0,11,2):
  print(i)

0
2
4
6
8
10

PRINT THE ODD AND EVEN NUMBERS

In [13]:
for i in range(0,11):
  if i%2==1:
    print(i)
  else:
    print("not")

not
1
not
3
not
5
not
7
not
9
not

1233 t
0 f

nested for i in range(0,11):
          for j in range(0,11):
              print(j)

1 2 3 4

1 2 3

1 2

1

In [19]:
n=int(input())
for i in range(0,n):
  for j in range(1,n-i):
    print(j,end="")
  print()

5
1234
123
12
1

*   *

*   *

*   *

*   *

*   *

In [27]:
n=int(input())
for i in range(n,0,-1):
  if i==1 or i==n:
    for j in range(0,i):
      print("*",end="")
    print()
  if i>1 and i<n:
    for j in range(1,i+1):
      if j==1 or j==i:
        print("*",end="")
      else:
        print(" ",end="")
    print()

5
*****
*  *
* *
**
*

FUNCTIONS:

In [32]:
def jhondy():
  return 1

In [35]:
def maxi(a,b):
  if a>b:
    return a
    return b

  else:
    return b

In [37]:
x=maxi(4,3)
print(x)

4

In [34]:
a=2
a=3
x=jhondy()
print(x)

1

REVERSE A NUMBER

In [39]:
def reverse_num(a):
  v=0
  while a!=0:
    r=a%10
    v= v*10+r
    a=a/10
  return v

FID THE VOWELS PRESENT IN A WORD:

STRING CONCATINATION

In [41]:
a="ajay"
b="jhon"
print(a+1)

TypeError: ignored